$section-padding: 30px;
$header-bg-color: #2e3745;
$nav-bg: #435064;
$nav-icon: #ccc;
$nav-icon-hover: #fff;
$nav-font-size: 12px;
$nav-horiz-padding: 10px;
$paragraph-spacer-lg: 20px;
$link-color: rgb(54, 162, 235);
$link-hover-color: #7d9bca;
$metrics-color: #d6f0f6;
$border-radius: 8px;
$label-color: #fff;
$card-bg-color: #4472b9;